/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-family: 'Lato', sans-serif;
	body{
		nav{
			section{
		    margin: 25px 0;
				h2{
					cursor:pointer;
					text-transform: uppercase;
					color: #85888d;
					font-weight: 700;
					//font-size: 1em;
					letter-spacing: 1px;
					padding: 0 20px;
					margin: 0;
					text-align: left;
					font-family: 'Atma', cursive;
		    	font-size: 1.5em;
				}
				ul{
					padding: 0;
					margin: 10px 0;
					margin-left: 15px;
					list-style: none;
					li{
						display: block;
						h3{
							display: block;
							padding: 10px 20px;
					    color: #fff;
							//font-size: 1em;
							font-size: 1.5em;
						}
					}
				}
			}
		}

		main{
			header{
				padding: 25px 25px 0px 25px;

				button{
					background-image: url('../images/menu-options.svg');
					height: 35px;
					width: 35px;
					background-repeat: no-repeat;
					background-color: #ffffff;
					border: 0;
					outline: 0;
				}
				img{
					width:100%;
					cursor: pointer;
					//margin-top: 20px;
					//margin-bottom: 15px;
					-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

				}
				.ribbon{
					height: 40px;
					width: 40px;
					position: absolute;
					top: 0;
					right: 15px;
				}
			}
			section{
				//display: none;
		    text-align: justify;
				opacity: 0;
				height: 0;
				&.active{
					//display:block;
					transition: opacity 1s cubic-bezier(0.39, 0.58, 0.57, 1);
					opacity: 1;
					padding: 0 25px;
					padding-bottom: 50px;
					margin-top: 20px;
			    margin-bottom: 20px;
			    height: auto;
				}
				header{
					padding-top: 0;
					padding-bottom: 25px;
					background-image: url(../images/rbn-yellow.png);
			    background-repeat: no-repeat;
			    background-size: 100% 100%;
			    padding-bottom: 0px;
			    background-position: center top;
			    width: 93%;
			    margin: auto;
			    margin-bottom: 30px;
					h1{
						font-family: 'Atma', cursive;
						font-size: 1.5em;
						font-weight: 700;
						line-height: 1.7em;
						color: white;
				    text-align: center;
					}
				}
				article{
			    border-top: 3px solid #000000;
					margin-bottom: 25px;
					text-align: justify;
					&:first-of-type{
						border-top: 0;
					}
					h1{
						margin-top: 25px;
    				margin-bottom: 25px;
						font-size: 1.2em;
						font-weight: 700;
						text-align: center;
						text-decoration: underline;
					}
					h2{
						font-size: 1em;
						margin-top: 0;
						color: #000000;
				    text-align: justify;
					}
					img{
						width: 100%;
					}
				}
				nav{
					.items{
						text-align: center;
						margin-bottom: 25px;
						li{
							font-family: 'Atma', cursive;
							display: inline-block;
							margin-right: 5px;
							margin-bottom: 10px;
							padding: 8px 10px;
							font-weight: 700;
							width: 130px;
							margin-left: 0;
							font-size: 1.3em;
							line-height: 1.4em;
							border-radius: 25px;
							&:nth-child(even){
								margin-right: 0;
							}
						}
						.casa{
							background-color: #50b156;
						}
						.product{
							background-color: #f58e3b;
						}
						.news{
							background-color: #db3236;
						}
						.contact{
					    background-color: #397fc1;
						}
						.games{
							background-color: #22589e;
						}
						.arras{
					    background-color: #cb99c5;
						}
						.enhe{
					    background-color: #4cae52;
						}
						.enca{
    					background-color: #4cbdd6;
						}
						.vehi{
					    background-color: #f28635;
						}
						.art{
							background-color: #e73138;
						}
					}
				}
			}
			footer{
				padding: 0 25px;
				min-height: 200px;
				background-color: #fec333;
				border-top: 3px solid #363435;
				padding-top: 40px;

				p{
					text-align: center;
					margin: 0;
					font-weight: 700;
					font-size: 1em;
					line-height: 2em;
				}
			}
		}
	}
}
